*.pyc
*~
*.ipynb_checkpoints*
/ubuntu/config/emacs/.private.el
/ubuntu/config/emacs/custom.el
/ubuntu/config/emacs/elpa/
/ubuntu/config/emacs/recentf
/ubuntu/config/emacs/projectile-bookmarks.eld
/ubuntu/config/emacs/history
/ubuntu/config/emacs/async-bytecomp.log
/ubuntu/config/emacs/projectile.cache
/ubuntu/config/emacs/semanticdb/*
/ubuntu/config/emacs/session*
/ubuntu/config/emacs/.mc-lists.el
